<div class="navbar">
  <ul>
    <a href=""><li>New Issue</li></a>
    <a href=""><li>Track Issue</li></a> 
    <a href=""><li id="right">Sign Up</li></a>
    <a href=""><li id="right">Login</li></a> 
  </ul>
</div>
